@import url('https://fonts.googleapis.com/css2?family=Reddit+Mono:wght@200..900&display=swap');

* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: "Reddit Mono", monospace;
    text-align: center;
}

.intro-image {
    background-attachment: fixed;
    background-image: url('../img/image2.jpg');
    background-size: cover;
    background-position: bottom;
    height: 700px;
    display: flex;
    align-items: center;
    background-position: center;
    justify-content: center;
}

.intro-image__link a {
    background-color: #815d0f83;
    border: 2px solid #372b1d ;
    color: #82807c;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}

.intro-image__link a:hover {
    transform: scale(1.2);
}
.intro-text {
    background-color: #48250c;
    color: #bc8c69;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.intro-text__texbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.quality-image {
    background-attachment: fixed;
    background-image: url('../img/image1.jpg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.quality-image__link a {
    background-color: #44525e79;
    border: 2px solid #77a3a9;
    color: #4b6a6e;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.quality-image__link a:hover{
    transform: scale(1.2);
}
.quality-text {
    background-color: #5e889623;
    color: #77a3a9;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 250px;
    padding: 0 15rem;
}
.quality-text__textbox h3{
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.footer{
    height: 250px;
    background-color: #4a4b4e;
    color: #77a3a9;
    font-size: 2rem;
    padding-top: 2rem;
}
.footer ul li {
    display: inline-block;
    margin: 1rem;
}
.footer ul li a {
    color:#77a3a9 ;
    text-decoration: none;
}
.footer ul li:hover{
    color:#77a3a957;
    transform: scale(1.2);
}

.origni-image {
    background-attachment: fixed;
    background-image: url('../img/image3.jpg');
    background-size: cover;
    background-position: bottom;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.origin-image__link a {
    background-color: #706039ad;
    border: 2px solid #474047;
    color: #d4a776;
    display: inline-block;
    font-size: 3rem;
    padding: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s ease-in-out;
}
.origin-image__link a:hover {
    transform: scale(1.2);
}

.origin-text {
    background-color: #706039;
    color: #cebd4b;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 350px;
    padding: 0 15rem;
}
.origin-text__textbox h3 {
    font-size: 2rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
.origin-text__textbox-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    min-width: 80%;
}